In [1]:
import pandas as pd
import numpy as np

from FRA import *

In [2]:
'''
def find_no_ws(score, df):
    df1 = df.query('Score==@score')[['Category', 'Score', 'RegionGo']]
    df1 = df1.query('Category!="RS"')
    df1['No_WS'] = df1['Category'] != df1['RegionGo']
    print(df1['No_WS'].value_counts())
    print("WS:", str(np.round(df1['No_WS'].value_counts()[0]/df1['No_WS'].value_counts().sum()*100, 2)) + "%")
    return df1
'''

def find_no_ws(score, df):
    df1 = df.query('Score_LAG1==@score')[['Category_LAG1', 'Score_LAG1', 'Category']]
    df1 = df1.query('Category_LAG1!="RS"')
    df1['No_WS'] = df1['Category_LAG1'] != df1['Category']
    print(df1['No_WS'].value_counts())
    print("WS:", str(np.round(df1['No_WS'].value_counts()[0]/df1['No_WS'].value_counts().sum()*100, 2)) + "%")
    return df1

In [7]:
df = pd.read_csv('../Data/humans_only_absent.csv')
df2 = pd.read_csv('../Data/high_performing_human_dyads.csv')

In [8]:
for s in [29, 30, 31, 32]:
    print("************")
    print("Score:", s)
    find_no_ws(s, df)

************
Score: 29
False    19
True      4
Name: No_WS, dtype: int64
WS: 82.61%
************
Score: 30
False    17
True      6
Name: No_WS, dtype: int64
WS: 73.91%
************
Score: 31
False    68
True      2
Name: No_WS, dtype: int64
WS: 97.14%
************
Score: 32
False    364
True      14
Name: No_WS, dtype: int64
WS: 96.3%

<ipython-input-2-379b141fd254>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['No_WS'] = df1['Category_LAG1'] != df1['Category']

In [9]:
for s in [29, 30, 31, 32]:
    print("************")
    print("Score:", s)
    find_no_ws(s, df2)

************
Score: 29
False    17
True      2
Name: No_WS, dtype: int64
WS: 89.47%
************
Score: 30
False    17
True      4
Name: No_WS, dtype: int64
WS: 80.95%
************
Score: 31
False    68
True      2
Name: No_WS, dtype: int64
WS: 97.14%
************
Score: 32
False    310
True       8
Name: No_WS, dtype: int64
WS: 97.48%

<ipython-input-2-379b141fd254>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['No_WS'] = df1['Category_LAG1'] != df1['Category']

In [11]:
df3 = df2.query('Score_LAG1==32')
df3 = df3.query('Category_LAG1!="RS"')
df3['No_WS'] = df3['Category'] != df3['Category_LAG1']
df3 = df3[df3['No_WS']]
print(df3.shape)
df3[['Score_LAG1', 'Category_LAG1', 'Similarity_LAG1', 'Category', 'Similarity']]

(8, 162)

     Score_LAG1 Category_LAG1  Similarity_LAG1 Category  Similarity
114        32.0       NOTHING         1.000000       RS    0.392857
200        32.0        BOTTOM         0.968750       RS    0.812500
321        32.0       NOTHING         0.035714       RS    0.289474
335        32.0       NOTHING         1.000000      ALL    1.000000
417        32.0       NOTHING         1.000000      ALL    1.000000
496        32.0           TOP         1.000000       RS    0.888889
594        32.0       NOTHING         1.000000       RS    0.565217
611        32.0           TOP         1.000000       RS    0.562500

In [9]:
def crea_region(r, cols):
    
    lista = []
    for c in cols:
        lista.append(r[c])
    
    return lista

In [10]:
cols = ['a' + str(i+1) + str(j+1) for i in range(8) for j in range(8)]
df3['region'] = df3.apply(lambda x: crea_region(x, cols), axis=1)

In [11]:
regiones, estrategias = create_regions_and_strategies(8)

In [89]:
TOLERANCIA = 0.9

def classify_region(r, regiones, TOLERANCIA):
    
    # Check if close to NOTHING
    if np.array(r).sum() < 3:
        return('NOTHING')
    
    sims = [0]*8
    for i, k in enumerate(regiones):
        sims[i] = sim_consist(r, k)
        
    # sims_print = ["%.3f" % v for v in sims]
    # print('similarities:\n', sims)

    valor = np.max(np.array(sims))
    indiceMax = np.argmax(np.array(sims))
    print('valor:', valor, 'vale?:', valor >= TOLERANCIA)

    if valor >= TOLERANCIA:
        reg = nameRegion(indiceMax + 1)
        return(reg)
    else:
        return('RS')

In [90]:
region = df3['region'].iloc[10]
imprime_region(region)
print("")
imprime_region(regiones[4])
sim_consist(region, regiones[4])

[1, 1, 1, 1, 0, 0, 0, 0]
[0, 0, 0, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]

[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]

0.90625

In [91]:
classify_region(region, regiones, TOLERANCIA)
#maxSim2Focal(region, 8)

valor: 0.90625 vale?: True

'LEFT'