In [1]:
import pandas as pd
import numpy as np

from FRA import *

In [2]:
def find_no_ws(score, df):
    df1 = df.query('Score==@score')[['Category', 'Score', 'RegionGo']]
    df1 = df1.query('Category!="RS"')
    df1['No_WS'] = df1['Category'] != df1['RegionGo']
    print(df1['No_WS'].value_counts())
    print("WS:", str(np.round(df1['No_WS'].value_counts()[0]/df1['No_WS'].value_counts().sum()*100, 2)) + "%")
    return df1
'''
def find_no_ws(score, df):
    df1 = df.query('Score_LAG1==@score')[['Category_LAG1', 'Score_LAG1', 'Category']]
    df1 = df1.query('Category_LAG1!="RS"')
    df1['No_WS'] = df1['Category_LAG1'] != df1['Category']
    print(df1['No_WS'].value_counts())
    print("WS:", str(np.round(df1['No_WS'].value_counts()[0]/df1['No_WS'].value_counts().sum()*100, 2)) + "%")
    return df1
'''

'\ndef find_no_ws(score, df):\n    df1 = df.query(\'Score_LAG1==@score\')[[\'Category_LAG1\', \'Score_LAG1\', \'Category\']]\n    df1 = df1.query(\'Category_LAG1!="RS"\')\n    df1[\'No_WS\'] = df1[\'Category_LAG1\'] != df1[\'Category\']\n    print(df1[\'No_WS\'].value_counts())\n    print("WS:", str(np.round(df1[\'No_WS\'].value_counts()[0]/df1[\'No_WS\'].value_counts().sum()*100, 2)) + "%")\n    return df1\n'

In [50]:
df = pd.read_csv('../Data/humans_only_absent.csv')
df.head()
# df2 = pd.read_csv('../Data/high_performing_human_dyads.csv')
# df2 = pd.read_csv('../Data/humans_only_absent_perfect.csv')

,index,Dyad,Round,Player,Answer,Time,a11,a12,a13,a14,...,DLIndex,Similarity,Score_LAG1,Norm_Score_LAG1,Consistency_LEAD1,Dif_consist_LAG1,Category_LAG1,RegionGo,RegionGo2,Similarity_LAG1
0,0,140-615,1,140-615PL1,Absent,41857,0,0,1,0,...,0.609375,0.727273,NaN,NaN,0.673077,NaN,NaN,RS,RS,NaN
1,8,140-615,9,140-615PL1,Absent,28215,0,0,0,0,...,0.828125,0.424242,18.0,0.91250,0.000000,0.249215,RS,NOTHING,NOTHING,0.718750
2,9,140-615,10,140-615PL1,Absent,15686,0,0,0,0,...,0.421875,1.000000,27.0,0.96875,1.000000,0.149167,RS,NOTHING,NOTHING,0.424242
3,10,140-615,11,140-615PL1,Absent,17704,0,0,0,0,...,0.531250,1.000000,32.0,1.00000,1.000000,0.415094,NOTHING,NOTHING,OUT,1.000000
4,38,140-615,39,140-615PL1,Absent,26626,1,1,1,1,...,0.546875,1.000000,22.0,0.93750,0.437500,0.684211,OUT,OUT,OUT,1.000000

In [22]:
for s in [29, 30, 31, 32]:
    print("************")
    print("Score:", s)
    find_no_ws(s, df)

************
Score: 29
False    15
True      5
Name: No_WS, dtype: int64
WS: 75.0%
************
Score: 30
False    20
True      7
Name: No_WS, dtype: int64
WS: 74.07%
************
Score: 31
False    65
True      4
Name: No_WS, dtype: int64
WS: 94.2%
************
Score: 32
False    397
True      12
Name: No_WS, dtype: int64
WS: 97.07%

<ipython-input-2-6c24b2e4dee1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['No_WS'] = df1['Category'] != df1['RegionGo']

In [14]:
for s in [29, 30, 31, 32]:
    print("************")
    print("Score:", s)
    find_no_ws(s, df2)

************
Score: 29
False    15
True      5
Name: No_WS, dtype: int64
WS: 75.0%
************
Score: 30
False    20
True      7
Name: No_WS, dtype: int64
WS: 74.07%
************
Score: 31
False    65
Name: No_WS, dtype: int64
WS: 100.0%
************
Score: 32
False    397
Name: No_WS, dtype: int64
WS: 100.0%

<ipython-input-2-6c24b2e4dee1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['No_WS'] = df1['Category'] != df1['RegionGo']

In [26]:
df3 = df.query('(Score==31)|(Score==32)')
df3 = df3.query('Category!="RS"')
df3['No_WS'] = df3['Category'] != df3['RegionGo']
df3 = df3[df3['No_WS']]
print(df3.shape)
df4 = df3[['Round', 'Score', 'Category', 'RegionGo', 'Player']]
df4

(16, 162)

      Round  Score Category RegionGo      Player
90       28   31.0      ALL       RS  152-727PL1
164      49   31.0  NOTHING       RS  261-970PL1
277      11   32.0  NOTHING       RS  331-863PL2
312       6   32.0      ALL  NOTHING  352-425PL2
363      55   32.0   BOTTOM       RS  354-344PL2
367      59   32.0   BOTTOM       RS  354-344PL2
370      19   32.0  NOTHING       RS  356-137PL1
660       2   32.0  NOTHING       RS  483-710PL2
703      52   32.0  NOTHING   BOTTOM  487-811PL2
821      13   31.0      TOP       RS  588-564PL2
829      56   32.0      TOP       RS  588-564PL2
917       1   31.0  NOTHING       RS  636-625PL2
1044     26   32.0  NOTHING       RS  687-660PL2
1081     28   32.0  NOTHING       RS  768-541PL1
1170     25   32.0  NOTHING       RS  880-349PL2
1186     55   32.0      ALL       RS  938-219PL1

In [37]:
parejas = dict(zip([(df4['Round'].iloc[i], df4['Player'].iloc[i]) for i in range(len(df4))], df4['Category']))
parejas

{(28, '152-727PL1'): 'ALL',
 (49, '261-970PL1'): 'NOTHING',
 (11, '331-863PL2'): 'NOTHING',
 (6, '352-425PL2'): 'ALL',
 (55, '354-344PL2'): 'BOTTOM',
 (59, '354-344PL2'): 'BOTTOM',
 (19, '356-137PL1'): 'NOTHING',
 (2, '483-710PL2'): 'NOTHING',
 (52, '487-811PL2'): 'NOTHING',
 (13, '588-564PL2'): 'TOP',
 (56, '588-564PL2'): 'TOP',
 (1, '636-625PL2'): 'NOTHING',
 (26, '687-660PL2'): 'NOTHING',
 (28, '768-541PL1'): 'NOTHING',
 (25, '880-349PL2'): 'NOTHING',
 (55, '938-219PL1'): 'ALL'}

In [51]:
def get_reg_go(x):
    
    r = x['Round']
    p = x['Player']
    if (r, p) in parejas.keys():
        return parejas[(r, p)]
    else:
        return x['RegionGo']

df['RegionGo'] = df.apply(lambda x: get_reg_go(x), axis=1)
df.head()

,index,Dyad,Round,Player,Answer,Time,a11,a12,a13,a14,...,DLIndex,Similarity,Score_LAG1,Norm_Score_LAG1,Consistency_LEAD1,Dif_consist_LAG1,Category_LAG1,RegionGo,RegionGo2,Similarity_LAG1
0,0,140-615,1,140-615PL1,Absent,41857,0,0,1,0,...,0.609375,0.727273,NaN,NaN,0.673077,NaN,NaN,RS,RS,NaN
1,8,140-615,9,140-615PL1,Absent,28215,0,0,0,0,...,0.828125,0.424242,18.0,0.91250,0.000000,0.249215,RS,NOTHING,NOTHING,0.718750
2,9,140-615,10,140-615PL1,Absent,15686,0,0,0,0,...,0.421875,1.000000,27.0,0.96875,1.000000,0.149167,RS,NOTHING,NOTHING,0.424242
3,10,140-615,11,140-615PL1,Absent,17704,0,0,0,0,...,0.531250,1.000000,32.0,1.00000,1.000000,0.415094,NOTHING,NOTHING,OUT,1.000000
4,38,140-615,39,140-615PL1,Absent,26626,1,1,1,1,...,0.546875,1.000000,22.0,0.93750,0.437500,0.684211,OUT,OUT,OUT,1.000000

In [49]:
df3 = df.query('(Score==31)|(Score==32)')
df3 = df3.query('Category!="RS"')
df3['No_WS'] = df3['Category'] != df3['RegionGo']
df3 = df3[df3['No_WS']]
print(df3.shape)
df4 = df3[['Round', 'Score', 'Category', 'RegionGo', 'Player']]
df4

(0, 162)

Empty DataFrame
Columns: [Round, Score, Category, RegionGo, Player]
Index: []

In [6]:
def crea_region(r, cols):
    
    lista = []
    for c in cols:
        lista.append(r[c])
    
    return lista

In [7]:
cols = ['a' + str(i+1) + str(j+1) for i in range(8) for j in range(8)]
df3['region'] = df3.apply(lambda x: crea_region(x, cols), axis=1)

In [11]:
regiones, estrategias = create_regions_and_strategies(8)

In [89]:
TOLERANCIA = 0.9

def classify_region(r, regiones, TOLERANCIA):
    
    # Check if close to NOTHING
    if np.array(r).sum() < 3:
        return('NOTHING')
    
    sims = [0]*8
    for i, k in enumerate(regiones):
        sims[i] = sim_consist(r, k)
        
    # sims_print = ["%.3f" % v for v in sims]
    # print('similarities:\n', sims)

    valor = np.max(np.array(sims))
    indiceMax = np.argmax(np.array(sims))
    print('valor:', valor, 'vale?:', valor >= TOLERANCIA)

    if valor >= TOLERANCIA:
        reg = nameRegion(indiceMax + 1)
        return(reg)
    else:
        return('RS')

In [6]:
df3 = df2.query('Score==32')
df3 = df3.query('Category!="RS"')
df3['No_WS'] = df3['Category'] != df3['RegionGo']
df3 = df3[df3['No_WS']]
print(df3.shape)
df3[['Score', 'Category', 'Similarity', 'RegionGo',]]

(9, 162)

     Score Category  Similarity RegionGo
113   32.0  NOTHING     1.00000       RS
148   32.0      ALL     1.00000  NOTHING
199   32.0   BOTTOM     0.96875       RS
203   32.0   BOTTOM     1.00000       RS
206   32.0  NOTHING     1.00000       RS
419   32.0  NOTHING     1.00000   BOTTOM
495   32.0      TOP     1.00000       RS
593   32.0  NOTHING     1.00000       RS
660   32.0      ALL     1.00000       RS

In [11]:
df3 = df2.query('Score_LAG1==32')
df3 = df3.query('Category_LAG1!="RS"')
df3['No_WS'] = df3['Category'] != df3['Category_LAG1']
df3 = df3[df3['No_WS']]
print(df3.shape)
df3[['Score_LAG1', 'Category_LAG1', 'Similarity_LAG1', 'Category', 'Similarity']]

(8, 162)

     Score_LAG1 Category_LAG1  Similarity_LAG1 Category  Similarity
114        32.0       NOTHING         1.000000       RS    0.392857
200        32.0        BOTTOM         0.968750       RS    0.812500
321        32.0       NOTHING         0.035714       RS    0.289474
335        32.0       NOTHING         1.000000      ALL    1.000000
417        32.0       NOTHING         1.000000      ALL    1.000000
496        32.0           TOP         1.000000       RS    0.888889
594        32.0       NOTHING         1.000000       RS    0.565217
611        32.0           TOP         1.000000       RS    0.562500

In [90]:
region = df3['region'].iloc[10]
imprime_region(region)
print("")
imprime_region(regiones[4])
sim_consist(region, regiones[4])

[1, 1, 1, 1, 0, 0, 0, 0]
[0, 0, 0, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]

[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]

0.90625

In [91]:
classify_region(region, regiones, TOLERANCIA)
#maxSim2Focal(region, 8)

valor: 0.90625 vale?: True

'LEFT'